.pid-departures {
    width: -moz-fit-content;
    width: fit-content;
}

.pid-stop-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.pid-stop {
    margin-bottom: 20px;
}

.pid-departures-table {
    border-collapse: collapse;
}

.pid-departures-table td {
    padding: 2px 5px;
    text-align: left;
}

.pid-departures-table .pid-icon {
    width: 30px; /* Fixed width for the icon column */
    text-align: center;
}

.pid-departures-table .pid-icon .fas {
    color: #ccc;
}

.pid-line-name {
    font-weight: bold;
    width: 40px;
}

.pid-minutes {
    font-weight: bold;
    color: #fff;
    text-align: right;
    width: 170px;
}

.pid-minutes .departs-in-text {
    font-weight: normal;
    color: #ccc;
    margin-right: 10px;
}

.pid-departure-time {
    text-align: left;
    font-size: 0.9em;
    color: #ccc;
}

.pid-delay {
    color: #ff8a80; /* Red color for delays */
    font-size: 0.9em;
    text-align: left;
    padding-left: 10px;
}
